@{
    ViewData["Title"] = "On Sale";
}

    <h1 class="fw-light" style="text-align:center;">On Sale!</h1>
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="~/Img/rio_de_janeiro.jpg" width="100%"  alt="Rio" />
                            <div class="card-body">
                                <p class="card-text">Rio de Janeiro</p>
                                <h1 class="card-title pricing-card-title"><a asp-controller="Clientes"
                               asp-action="Create" class="preco">$800</a><small
                                        class="text-muted fw-light"></small></h1>
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-muted">9 mins left</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="~/Img/Moscow.jpg" width="100%" height="100%"  alt="Moscow" />
                            <div class="card-body">
                                <p class="card-text">Moscow</p>
                                <h1 class="card-title pricing-card-title"><a asp-controller="Clientes"
                               asp-action="Create" class="preco">$7500</a><small
                                        class="text-muted fw-light"></small></h1>
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-muted">12 mins left</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="~/Img/India_01.jpg" width="100%"  alt="India" />
                            <div class="card-body">
                                <p class="card-text">India</p>
                                <h1 class="card-title pricing-card-title"><a asp-controller="Clientes"
                               asp-action="Create" class="preco">$1500</a><small class="text-muted fw-light"></small></h1>
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-muted">30 mins left</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="~/Img/China.jpg" width="100%"  alt="China" />
                            <div class="card-body">
                                <p class="card-text">China</p>
                                <h1 class="card-title pricing-card-title"><a asp-controller="Clientes"
                               asp-action="Create" class="preco">$4500</a><small class="text-muted fw-light"></small></h1>
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-muted">5 mins left</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="~/Img/Rome-italy.jpeg" width="100%" height="100%" alt="Rome" />
                            <div class="card-body">
                                <p class="card-text">Rome</p>
                                <h1 class="card-title pricing-card-title"><a asp-controller="Clientes"
                               asp-action="Create" class="preco">$2500</a><small class="text-muted fw-light"></small></h1>
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-muted">9 mins left</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="~/Img/egypt.jpg" width="100%;" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Egypt</p>
                                <h1 class="card-title pricing-card-title"><a asp-controller="Clientes"
                               asp-action="Create" class="preco">$5000</a><small class="text-muted fw-light"></small></h1>
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-muted">12 mins left</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>