@model Drake_Travel_Light.Models.Voo

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Voo</h4>
<hr />
<div class="container"
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Destino" class="control-label"></label>
                    <input asp-for="Destino" class="form-control" />
                    <span asp-validation-for="Destino" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Assento" class="control-label"></label>
                    <input asp-for="Assento" class="form-control" />
                    <span asp-validation-for="Assento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Data_ida" class="control-label"></label>
                    <input asp-for="Data_ida" class="form-control" />
                    <span asp-validation-for="Data_ida" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Data_volta" class="control-label"></label>
                    <input asp-for="Data_volta" class="form-control" />
                    <span asp-validation-for="Data_volta" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
